/* All used fonts */
@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:wght@400;700&display=swap");

/* Utlities */
body {
  /* font-family: "Niconne", cursive; */
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
p {
  color: gray;
}
/* Navbar */
nav {
  display: flex;
  padding-top: 20px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin: 0 110px;
}
.nav-item a {
  padding: 10px 20px;
}
.nav-item a:hover {
  background-color: lightblue;
  color: black;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
a {
  text-decoration: none;
  color: #ffffff;
}
/* Small Nav  */
.small-nav {
  display: none;
}
.small-nav .play-button {
  margin-top: 5px;
}
/* Header content */
.header-section {
  background-color: #3346a0;
}
.header-content {
  margin: 0 80px;
  display: flex;
  align-items: center;
}
.half-width {
  width: 50%;
}
.header-content > div {
  margin: 0 50px;
}
.half-width img {
  width: 100%;
  margin: 67px 0;
}
.header-title {
  font-size: 64px;
  color: #ffffff;
  line-height: 80px;
  margin: 0;
}
.play-button {
  background-color: #e02c6d;
  margin-top: 24px;
  padding: 10px 24px;
  border: none;
  color: #ffffff;
}
.play-button:hover {
  background: gray;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

/* Player Gallary */
.players-galary {
  margin: 70px 150px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.player {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.player-blog {
  margin: 15px;
}
.player-image {
  width: 100%;
}
.player-name {
  margin: 10px 0;
}
/* Highlight match saection */
.highlight-section {
  margin: 0 150px;
}
.highlite-match {
  display: flex;

  align-items: center;
}
.highlight-title {
  font-size: 48px;
  line-height: 60px;
  margin: 0;
}
.highlight-description {
  margin: 0 60px 0 0;
}
/* Ranking Section  */
.ranking-section {
  margin-bottom: 80px;
}
.ranking-section div {
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: auto;
}
td,
th {
  padding: 50px;
  border-bottom: 2px solid gray;
}
td > img {
  margin: 0 !important;
}
/* Play area for fun  */
.play-area {
  background-image: url(../images/fun/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
}
.play-area img {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100px;
  transition: width 2s, height 2s;
  -webkit-transition: width 2s, height 2s;
  -moz-transition: width 2s, height 2s;
  -ms-transition: width 2s, height 2s;
  -o-transition: width 2s, height 2s;
}
.play-area:hover .play-area > img {
  width: 50px;
  height: 50px;
  left: 70%;
  top: 60%;
}
/* Social section  */
.social {
  width: 485px;
  margin: auto;
}

.football-image {
  width: 100%;
}
.icons {
  display: flex;
  justify-content: center;
}
.fab {
  margin: 10px;
  padding: 5px;
  color: #969bab;
  background-color: lightgrey;
  border-radius: 50%;
  transition: 0.5s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.fab:hover {
  background-color: dimgray;
  color: #ffffff;
}

/* footer section  */
footer {
  text-align: center;
  margin-bottom: 60px;
}

/* Responsive */

@media only screen and (max-width: 688px) {
  nav {
    display: none;
  }
  .small-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    margin-bottom: 50px;
  }
  .header-title {
    font-size: 36px;
    line-height: 50px;
  }
  .header-content {
    margin: 0 10px;
    flex-direction: column;
  }
  .half-width {
    width: 100%;
  }
  .play-button {
    padding: 7px 17px;
  }
  .players-galary {
    margin: 70px 0px;
  }
  .players {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .highlight-section {
    margin: 0 10px;
  }
  .highlite-match {
    flex-direction: column;
  }
  .highlight-title {
    font-size: 30px;
    line-height: 40px;
  }
  td,
  th {
    padding: 3px;
  }
  .social {
    width: 250px;
  }
}
