/*----------------
 All used fonts 
------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*=============
 Utlities 
 ==============*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
p {
  color: gray;
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
button {
  cursor: pointer;
}

/*=========
 Navbar 
 ==========*/
nav {
  display: flex;
  padding-top: 20px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin: 0 110px;
}
.nav-item a {
  padding: 10px 20px;
}
.nav-item a:hover {
  background-color: lightblue;
  color: black;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

/*==========
 Small Nav  
 ===========*/
.small-nav {
  display: none;
}
.toggle-icon {
  color: #ffffff;
}
.small-nav .play-button {
  margin-top: 5px;
}
/*===============
 Header content 
 ================*/
.header-section {
  background-color: #3346a0;
}
.header-content {
  margin: 0 80px;
  display: flex;
  align-items: center;
}
.header-content:hover .half-width img {
  transition: 2s ease-in-out;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -ms-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
}
.half-width {
  width: 50%;
}
.header-content > div {
  margin: 0 50px;
}
.half-width img {
  width: 100%;
  margin: 67px 0;
}
.header-title {
  font-size: 64px;
  color: #ffffff;
  line-height: 80px;
  margin: 0;
}
.play-button {
  background-color: #e02c6d;
  margin-top: 24px;
  padding: 10px 24px;
  border: none;
  color: #ffffff;
}
.play-button:hover {
  background: gray;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

/*==============
 Player Gallary 
 ===============*/
.players-galary {
  margin: 70px 150px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.player {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.player-blog {
  margin: 15px;
}
.player-image {
  width: 100%;
}
.player-name {
  margin: 10px 0;
}
/*=========================
 Highlight match saection 
 ==========================*/
.highlight-section {
  margin: 0 150px;
}
.highlite-match {
  display: flex;

  align-items: center;
}
.highlight-title {
  font-size: 48px;
  line-height: 60px;
  margin: 0;
}
.highlight-description {
  margin: 0 60px 0 0;
}
/*================
 upcoming matches
 =================*/
.upcoming-matches-section {
  padding: 40px 0;
  background-color: lightcyan;
}
.upcoming-match {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcoming-match h4 {
  margin: 0 20px;
}
.section-title {
  font-size: 40px;
  text-align: center;
}
.country-name,
.vs {
  margin: 30px;
}
.country-name {
  color: chocolate;
}
/*=================
 Ranking Section
 ==================*/
.ranking-section {
  margin-bottom: 80px;
}
.ranking-section div {
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: auto;
}
td,
th {
  padding: 50px;
  border-bottom: 2px solid gray;
}
td > img {
  margin: 0 !important;
}

/*===============
 Social section 
 ================*/
.social {
  width: 485px;
  margin: auto;
}

.football-image {
  width: 100%;
}
.icons {
  display: flex;
  justify-content: center;
}
.fab {
  margin: 10px;
  padding: 5px;
  color: #969bab;
  background-color: lightgrey;
  border-radius: 50%;
  transition: 0.5s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.fab:hover {
  background-color: dimgray;
  color: #ffffff;
}

/*=============
footer section
===============*/
footer {
  text-align: center;
  margin-bottom: 60px;
}

/*===========
 Responsive 
 ============*/

@media only screen and (max-width: 688px) {
  nav {
    display: none;
  }
  .small-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    margin-bottom: 50px;
  }
  .header-title {
    font-size: 36px;
    line-height: 50px;
  }
  .header-content {
    margin: 0 10px;
    flex-direction: column;
  }
  .half-width {
    width: 100%;
  }
  .play-button {
    padding: 7px 17px;
  }
  .players-galary {
    margin: 70px 0px;
  }
  .players {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .highlight-section {
    margin: 0 10px;
  }
  .highlite-match {
    flex-direction: column;
  }
  .highlight-title {
    font-size: 30px;
    line-height: 40px;
  }
  .section-title {
    font-size: 30px;
  }
  .upcoming-matches-section .country-name,
  .vs,
  .upcoming-match h4 {
    font-size: 14px;
    margin: 5px;
  }
  .upcoming-matches-section .flag {
    display: none;
  }
  td,
  th {
    padding: 3px;
  }
  .social {
    width: 250px;
  }
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
  nav {
    display: none;
  }
  .small-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    margin-bottom: 50px;
  }
  .header-title {
    font-size: 36px;
    line-height: 50px;
  }
  .header-content {
    margin: 0 10px;
  }
  .players-galary {
    margin: 70px 0px;
  }
  .players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .highlight-section {
    margin: 0 10px;
  }
}
